<a href="https://colab.research.google.com/github/AshiTHOMAS/python-basic/blob/main/16_11_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input())
if(num>0):
  print('absolute value',num,'is',num)
else:
  num=num*(-1)
  print("absolute value of -",num,'is',num)

-2
absolute value of - 2 is 2

In [ ]:
x=int(input("Marks "))
if(x<25):
  print('f')
elif(x>25 and x<=45):
  print('e')
elif(x>45 and x<=50):
  print('d')
elif(x>50 and x<=60):
  print("c")
elif(x>60 and x<=80):
  print("b") 
else :
  print("a")

Marks 20
f

In [ ]:
total=int(input("Classes held "))
attended=int(input("Classed attended "))
z=(attended/total)*100
print(z,"%")
if(z>=75):
  print("allowed")
if(z<75):
  print("not alowed")

Classes held 140
Classed attended 100
71.42857142857143 %
not alowed

In [ ]:
print(' 1.Addition \n 2.Subtraction \n 3.Multiplication \n 4.Division \n 5.Modulus \n 6.Floor division \n 7.Exponent')
n=int(input("enter the operation to be performed "))                                              
x=int(input("enter the first no "))
y=int(input("enter the second no "))                                                                                               
if n==1:
  print("addition : ",x+y)
elif n==2:
  print("subtraction : ",x-y)
elif n==3:
  print("multiplication :",x*y)
elif n==4:
  print("division : ",x/y)
elif n==5:
  print("modulus : ",x%y)
elif n==6:
  print("floor division : ",x//y)
elif n==7:
  print("exponent : ",x**y)

 1.Addition
 2.Subtraction
 3.Multiplication
 4.Division
 5.Modulus
 6.Floor division
 7.Exponent
enter the operation to be performed 4
enter the first no 100
enter the second no 3
division :  33.333333333333336

In [9]:
import statistics 
math=int(input('Maths mark'))
eng=int(input("English marks"))
eco=int(input("Economics marks"))
bs=int(input('Business studies marks'))
mal=int(input('Malayalam marks'))
x=(math,eng,eco,bs,mal)
z=min(x)
print("Least marks",z)
y=max(x)
print("Maximum marks",y)
k=statistics.mean(x)
print('Average',k)
l=round(k,3)
print('Round',l)

Maths mark45
English marks45
Economics marks45
Business studies marks45
Malayalam marks45
Least marks 45
Maximum marks 45
Average 45
Round 45

In [5]:

num=int(input(' Enter the number to display'))
for i in range(2,21):
  print(i*num)

SyntaxError: ignored