<a href="https://colab.research.google.com/github/AshiTHOMAS/python-basic/blob/main/copy_of_10_11_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input("enter travel source ")

y=input("enter destination ")

z=input("enter no of passengers ")
print(x,y,z)

enter travel source chalakudy
enter destination Pattaya
enter no of passengers 2
chalakudy Pattaya 2

In [ ]:
x=int(input('no of ticket '))
y=200000*x
print("total fare",y)
print("number of people",x)

no of ticket 2
total fare 400000
number of people 2

In [ ]:
x=input("Passenger name ")
y=input("enter the price")
print(x,y)

Passenger name Jachu
enter the price500
Jachu 500

In [ ]:
x=int(input("Enter total "))
if x>1000 :
  print("Eligle for discount")

Enter total1001
Eligle for discount

In [ ]:
x=int(input("total ticket fare"))
if x>15000:
 print("Eligiblefor 20% discount")
else:
  print("eligible for 10% discount")

total ticket fare200000
Eligiblefor 20% discount

In [ ]:
x=int(input("Enter fare "))
if x>15000:
  print("20% discount")
if x>10000:
  print("10% discount")
else :
  print("5% discount")

Enter fare 100000
20% discount
10% discount

In [ ]:
x=int(input("Enter a number"))
if x>0:
  print("positive")
elif x<0:
  print("negative")
else :
  print("zero")

Enter a number20
positive

In [ ]:
x=int(input("age of a passenger"))
if x>18:
  print("Adult")
elif x>13 and x<18:
  print("Teenager")
elif x>6 and x<12:
  print("Kid")
elif x>2 and x<5:
  print("Toddler")  
else :
  print("infant")

age of a passenger15
Teenager

In [ ]:
x=(input("enter initial"))
if x=="a"or x=="e"or x=="o"or x=="i"or x=="u":
  print("Vowel")
else:
  print("not vowel")

enter initiala
Vowel

In [ ]:
x=input('enter name')
for a in x:
   print(a)

enter namejachu
j
a
c
h
u