<a href="https://colab.research.google.com/github/AshiTHOMAS/python-basic/blob/main/python%20tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
x=int(input())
mark=x

50

In [15]:

if mark >50 :
  print('You are passed')
if mark <50 :
  print('You are failed')
if x== 50:
  print('you are just passed')

you are just passed

In [4]:
salary=int(input())

25000

In [8]:
if salary >=25000 :
  print('you are taxible')
  print(salary*10/100)
if salary <25000 :
  print('you are not taxible')

you are taxible
2500.0

In [10]:
salary=int(input())

300000

In [11]:
amount=salary-250000
print(amount*10/100)

5000.0