<a href="https://colab.research.google.com/github/AshiTHOMAS/python-basic/blob/main/Uncompleted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input())
mark=x

50

In [ ]:

if mark >50 :
  print('You are passed')
if mark <50 :
  print('You are failed')
if x== 50:
  print('you are just passed')

you are just passed

In [ ]:
salary=int(input())

25000

In [ ]:
if salary >=25000 :
  print('you are taxible')
  print(salary*10/100)
if salary <25000 :
  print('you are not taxible')

you are taxible
2500.0

In [ ]:
salary=int(input())

300000

In [ ]:
amount=salary-250000
print(amount*10/100)

5000.0

In [ ]:
salary=int(input())
if salary < 250000 :
 print('You are not taxable')
if salary > 250000 and  salary < 500000 :
 print('You are taxable')
 print(salary-250000*10/100)
if salary > 500000 and salary < 750000 :
 print('you are taxable')
 print((salary-500000)*20/100 + 250000*10/100)

600000
you are taxable
45000.0

In [31]:
HRA=int(input())
salary=int(input())
if HRA >60/100*salary :
  if 0< HRA<=250000 :
    print("HRA not taxable") 
  if 250000< HRA<=500000 :
    a=HRA-250000
    print("HRA taxable")
    print(a*10/100)
  if HRA >500000 and HRA <=750000 :
    a=250000*10/100
    b=HRA-500000
    print("HRA taxable") 
    print(a+(b*20/100))
  if 750000< HRA <10000000 :
    a=250000*10/100
    b=250000*20/100
    c=HRA-750000
    print("HRA taxable")
    print(a+b+(c*30/100))
  if 10000000 <=HRA :
    a=250000*10/100
    b=250000*20/100
    c=9250000*30/100
    d=HRA-10000000
    print("HRA taxable")  
    print(a+b+c+(d*32/100))
if HRA <60/100*salary :
  print("HRA not taxable")

500000
30000
HRA taxable
25000.0

In [32]:
x=[10,20,30,40,50,60]
print(x)

[10, 20, 30, 40, 50, 60]

In [ ]:
type(x)

list

In [ ]:
x[2]

30

In [ ]:
x=[10,20,30,40]
y=[35,46,22,96]
x[0]*y[0]+x[1]*y[1]+x[2]*y[2]+x[3]*y[3]

5770

In [ ]:
x=['Kerala','Tamil Nadu']
y=['Chennai' ,'Trivandrum']
print(x[0]+y[1])

KeralaTrivandrum

In [ ]:
x=[10,20,30,40,50]

In [ ]:
x[-1]

50

In [ ]:
x[-1]*x[1]

1000

In [ ]:
if x[3]==10:
  print('x is 10')
else:
  print('x is not 10')

x is not 10

In [30]:
x="Ashik"
x[0]

'A'

In [40]:
if x[0]==x[-1]:
  print('its same')
else:
  print('its not same')

its not same

In [42]:
x=[10,20,30,40]
for a in x:
 print(a)

10
20
30
40

In [47]:
x='Ashik Thomas'
for a in x :
  print(a)

A
s
h
i
k

T
h
o
m
a
s

In [ ]:
x='Ashik thomas'
for a in x
if a =='i'
 print('Contain i')

In [ ]:
x[10,25,26,36,39,55]
k=0
for a in x:
k=k+a:
 print(k)